<div class="container profile mt-2">
    <div class="card-deck mb-2 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
              <img class="card-img-top"src="<%= user.userImage %>" alt="Generic placeholder image" height="180px">
              <h4 class="my-1 font-weight-normal"> <%= user.username %></h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-1 mb-2">
               
              <button type="button" class="btn btn-sm btn-block btn-outline-primary" onclick="location.href='/user-profile/me'">User Profile</button>
            </div>
        </div>
    </div>
</div>

<div class="container friends__list box-shadow mx-2 bg-light ">
    
        <div class="friends__list__title">
            <span class="fa fa-users"></span> 
            <span>My friends</span>
        </div>
        <div class="friends__list__friends">
            <ul class="list-unstyled">
                
            </ul>
        </div>
</div>

<script>
    const userId = '<%= user._id %>';
    const userName = '<%= user.username %>';
    let friendsList = [];
    <% if(user.friendsList.length >0 ) { %>
        <% user.friendsList.forEach(function(friend) { %>
            friendsList.push('<%= friend.friendId %>')
        <% }); %>
    <% } %>

    function renderFriendsList(userFriends, onlineUsers){
        if(userFriends.length > 0){
            $('.friends__list__friends ul').empty();
            userFriends.forEach(friend => {
                $('.friends__list__friends ul').append(`
                        <li id="friend__${friend.username}">
                            <div class="d-flex justify-content-start align-items-center ">
                                <img src="${friend.userImage}" class="avatar rounded-circle d-flex  mr-2 z-depth-1">
                                <strong>${friend.username}</strong>
                                <label class="ml-auto">
                                        <i class="fa fa-circle" ></i>
                                </label>
                            </div>
                            <div class="friend__icons" style="display: none">
                                <button class="mx-2 btn btn-sm btn-outline-secondary" id="viewFriend__${friend._id}"  onclick="location.href='/user-profile/${friend._id}'"><i class="fa fa-eye"></i></button>
                                <button class="mx-2 btn btn-sm btn-outline-primary"><i class="fa fa-comments"></i></button>
                                <button class="mx-2 btn btn-sm btn-outline-danger" id="deleteFriend__${friend._id}"><i class="fa fa-user-times style="red"></i></button>
                            </div>
                        </li>
                `);

                if(onlineUsers.find(user => user.name === friend.username) != undefined){
                    $(`#friend__${friend.username}`).addClass('friends__online');
                    $('.friends__list__friends ul').prepend($(`#friend__${friend.username}`));
                }else{
                    $(`#friend__${friend.username}`).addClass('friends__offline');
                }
            })
        }

    }

    function friendBackToOnline(friend){
        $('.friends__list__friends ul').prepend($(`#friend__${friend.username}`));
        $(`#friend__${friend.username}`).addClass('friends__online').removeClass('friends__offline');
    }

      function friendBackToOffline(friend){
        $('.friends__list__friends ul').append($(`#friend__${friend.username}`));
        $(`#friend__${friend.username}`).addClass('friends__offline').removeClass('friends__online');
    }

    function renderNewFriend(onlineUsers, newFriend){
       $('.friends__list__friends ul').prepend(`
            <li id="friend__${newFriend.username}">
                <div class="d-flex justify-content-start align-items-center ">
                    <img src="${newFriend.userImage}" class="avatar rounded-circle d-flex  mr-2 z-depth-1">
                    <strong>${newFriend.username}</strong>
                    <label class="ml-auto">
                            <i class="fa fa-circle"></i>
                    </label>
                </div>
                <div class="user__icons" style="display: none">
                    <button class="mx-2 btn btn-sm btn-outline-secondary" id="viewFriend__${newFriend._id}" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-eye"></i></button>
                    <button class="mx-2 btn btn-sm btn-outline-primary" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-comments"></i></button>
                    <button class="mx-2 btn btn-sm btn-outline-danger" id="deleteFriend__${newFriend._id}" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-user-times style="red"></i></button>
                </div>
            </li>
       `)
       if(onlineUsers.includes(newFriend.username)){
           $(`#friend__${newFriend.username}`).addClass('friends__online');
       }else{
            $(`#friend__${newFriend.username}`).addClass('friends__offline');
       }
    }
</script>