<div class="container profile mt-2">
    <div class="card-deck mb-2 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
              <img class="card-img-top"src="<%= user.userImage %>" alt="Generic placeholder image" height="180px">
              <h4 class="my-1 font-weight-normal"> <%= user.username %></h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-1 mb-2">
               
              <button type="button" class="btn btn-sm btn-block btn-outline-primary" onclick="location.href='/user-profile/me'">User Profile</button>
            </div>
        </div>
    </div>
</div>

<div class="container friends__list box-shadow mx-2 bg-light ">
    
        <div class="friends__list__title">
            <span class="fa fa-users"></span> 
            <span>My friends</span>
        </div>
        <div class="friends__list__friends">
            <ul class="list-unstyled">
                <li class="friends__online">
                    <div class="d-flex justify-content-start align-items-center ">
                        <img src="./files/IMG_3912.jpg" class="avatar rounded-circle d-flex  mr-2 z-depth-1">
                        <strong>Username</strong>
                        <label class="ml-auto">
                                <i class="fa fa-circle" style="color:green"></i>
                        </label>
                    </div>
                </li>
                <li class="friends__offline">
                        <div class="d-flex justify-content-start align-items-center text-muted ">
                            <img src="./files/IMG_3912.jpg" class="avatar rounded-circle d-flex  mr-2 z-depth-1">
                            <strong>Username2</strong>
                            <label class="ml-auto">
                                    <i class="fa fa-circle" style="color:grey"></i>
                            </label>
                        </div>
                    </li>
            </ul>
        </div>
</div>

<script>
    const userId = '<%= user._id %>';
    const userName = '<%= user.username %>'

    let friendsList = [];
    <% if(user.friendsList.length >0 ) { %>
        <% user.friendsList.forEach(function(friend) { %>
            friendsList.push('<%= friend.friendId %>')
        <% }); %>
    <% } %>

    function renderFriendsList(onlineUsersNames, userFriends){
        let onlineFriends = [];
        let offlineFriends = [];
        
        if(userFriends.length > 0){
            userFriends.forEach(friend => {
                if(onlineUsersNames.indexOf(friend.username) >= 0){
                    onlineFriends.push(friend);
                }else if( onlineUsersNames.indexOf(friend.username) === -1){
                    offlineFriends.push(friend);
                }
            })
        }

        $('.friends__list__friends ul').empty();
        
        if(onlineFriends.length > 0){
            onlineFriends.forEach(onlineFriend => {
                $('.friends__list__friends ul').append(`
                        <li id="friend__${onlineFriend.username}" class="friends__online">
                            <div class="d-flex justify-content-start align-items-center ">
                                <img src="${onlineFriend.userImage}" class="avatar rounded-circle d-flex  mr-2 z-depth-1">
                                <strong>${onlineFriend.username}</strong>
                                <label class="ml-auto">
                                        <i class="fa fa-circle" style="color:green"></i>
                                </label>
                            </div>
                            <div class="user__icons" style="display: none">
                                <button class="mx-2 btn btn-sm btn-outline-secondary" id="viewFriend__${onlineFriend._id}" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-eye"></i></button>
                                <button class="mx-2 btn btn-sm btn-outline-primary" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-comments"></i></button>
                                <button class="mx-2 btn btn-sm btn-outline-danger" id="deleteFriend__${onlineFriend._id}" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-user-times style="red"></i></button>
                            </div>
                        </li>
                `);
            })
        }
        
        if(offlineFriends.length > 0){
            offlineFriends.forEach(offlineFriend => {
                $('.friends__list__friends ul').append(`
                        <li id="friend__${offlineFriend.username}" class="friends__offline">
                            <div class="d-flex justify-content-start align-items-center ">
                                <img src="${offlineFriend.userImage}" class="avatar rounded-circle d-flex  mr-2 z-depth-1">
                                <strong>${offlineFriend.username}</strong>
                                <label class="ml-auto">
                                        <i class="fa fa-circle" style="color:grey"></i>
                                </label>
                            </div>
                            <div class="user__icons" style="display: none">
                                <button class="mx-2 btn btn-sm btn-outline-secondary" id="viewFriend__${offlineFriend._id}" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-eye"></i></button>
                                <button class="mx-2 btn btn-sm btn-outline-primary" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-comments"></i></button>
                                <button class="mx-2 btn btn-sm btn-outline-danger" id="deleteFriend__${offlineFriend._id}" style="padding-left: 10px; padding-right: 10px;"><i class="fa fa-user-times style="red"></i></button>
                            </div>
                        </li>
                `);
                })
        }
    }
</script>